body {
    background-color: bisque;
}


table {
    margin: 20px auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.square {
    width: 28px;
    height: 28px;
    border: 1px solid #000;
}

.btn-change {
    margin: 0 auto;
    width: 75px;
    height: 20px;
    text-align: center;
}

.not-checked {    
    background-color: #fff;
}

.checked{
    background-color: #000;
}

.reverse .not-checked {
    background-color: #000;
}

.reverse .checked{
    background-color: #fff;
}